[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
twilio = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"
yapf = "*"
jupyterlab = "*"

[dev-packages]
yapf = "*"
jupyterlab = "*"
flake8 = "*"

[requires]
python_version = "3.10"
